/*ADVERT*/
/*=======*/

.advert {
  margin: 3.3em auto 2.5em;
  text-align: center;
  position: relative;
  padding-top: 1em;
}

.advert:before {
	content: "ADVERT";
	font-family: sans-serif;
	font-size: 0.7rem;
	position: absolute;
	background: white;
	padding: 0 1em;
	top: -4px;
	left: 50%;
	color: var(--text-light);
	transform: translate(-50%, -50%)
}

@media (max-width: 560px) {
  .advert {
    margin: 2.6em auto 2em;
  }
}
