/*article*/
/*=========*/

html[data-article] {
  background: white;
}

.article {
  font-size: 1em;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 2.5em;
}

.article,
.article-related > .wrap,
.article-head > p {
  max-width: 840px
}

.article > p ,
.article > blockquote {
  margin-bottom: 1.54em;
  line-height: 1.54;
}

.article > p:first-of-type {
  font-size: 1.24em;
}

.article > :last-child {
  margin-bottom: 0;
}

.article > blockquote {
  font-size: 1.8em;
  text-align: center;
  line-height: 1.5;
  margin: 1.9em 0 2.2em;
  padding: 0 1em;
  font-style: italic;
  color: var(--text-light)
}

.article > small {
  color: var(--text-light);
  font-family: sans-serif;
  margin-bottom: 1em;
  display: inline-block;
}

.article-head {
  margin-bottom: 3em;
  margin-top: -12px;
}

.article-head__headline-top {
  font-size: 0.8rem;
  font-family: sans-serif;
  color: var(--text-highlight);
  display: block;
}

.article-head__headline-bottom {
  font-size: 4.5rem;
  line-height: 0.96;
  padding: 0.2em 0.4em 0;
  font-weight: 400;
  display: block;
}

.article-head > p {
  font-size: 1.2em;
  padding: 1em 0 0;
  margin: 0 auto;
  line-height: 1.36;
  /*font-style: italic;*/
  color:var(--text-light)
}

.article figure {
  margin: 2.5em 0 3.5em;
}

.article figcaption {
  font-size: 0.75rem;
  font-family: sans-serif;
  text-align: center;
  padding: 1.3em 0 0;
  line-height: 1.5;
  color:var(--text-light)
}

.article > h3,
.article > h4 {
  font-weight: 400;
  text-align: center;
  margin: 3em 0 1.7em;
  font-size: 1.3em;
  line-height: 1.2
}

.article > h3 {
  font-size: 1.6em;
  counter-reset: a;
}

.article > h4 {
  color:var(--text-light)
}

.article > h3 + h4 {
  margin-top: -0.4em
}

.article > h4:before {
  content: counter(a) ".";
  counter-increment: a;
  display: inline-block;
  padding-right: 0.2em;
  font-size: 0.9em;
}

.article a {
  color: var(--text-light);
}

/*related stories*/
.article-related {
  padding: 2.2em 0 2.1em;
}

.article-related--shade {
  background: var(--shade)
}

.article-related__header {
  margin-bottom: 2em;
  font-family: sans-serif;
  font-size: 0.9rem;
  color: var(--text-highlight)
}

.article-related__list {
  list-style: none;
}

.article-related__list > li {
  display: inline-block;
  width: calc(50% - 9px);
  margin: 0 18px 16px 0;
}

.article-related__list > li:nth-child(even){
  margin-right: 0;
}

.article-related__item {
  display: table;
  table-layout: fixed;
  background: white;
  width: 100%;
}

.article-related__item:active,
.article-related__item:focus {
  background: black;
  color: var(--shade);
}

@media (pointer: fine){
  .article-related__item:hover {
    background: black;
    color: var(--shade);
  }
}

.article-related__figure {
  width: 90px;
  display: table-cell;
  vertical-align: middle;
}

.article-related__body {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0 0.6em 0 0.8em;
}

.article-related__body > h4 {
  font-family: sans-serif;
  color: var(--text-highlight);
  font-size: 0.7rem;
  margin-bottom: 0.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.article-related__body > h5 {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.1;
  padding-right: 1em;
  color: inherit
}

@media all and (min-width: 1280px){

  .article-head__headline-bottom {
    font-size: 5.1rem;
  }

}

@media all and (max-width: 700px){

  .article-related__list > li {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .article-related__list > li:last-child {
    margin-bottom: 0;
  }

}


@media (max-width: 940px) {

  .article,
  .article-related > .wrap,
  .article-head > p {
    max-width: 90%;
  }

  .article-head__image {
    width: 100vw;
    position: relative;
    left: -4vw;
  }

}


@media (max-width: 768px) {

  .article-head__headline-bottom {
    font-size: 4.1rem;
    padding-left: 0;
    padding-right: 0;
  }

  .article > blockquote {
    font-size: 1.4em;
  }

}


@media (max-width: 640px) {

  .article,
  .article-related > .wrap,
  .article-head > p {
    max-width: 96%;
  }

  .article-head > p {
    padding-top: 0.9em;
  }

  .article > p:first-of-type {
    font-size: 1.12em
  }

  .article > h3 + h4 {
    margin-top: -0.1em
  }

  .article-head__headline-bottom {
    font-size: 3.3rem;
  }
}

@media (max-width: 560px) {
  .article-head > p {
    font-size: 1.1rem;
  }

  .article > blockquote {
    font-size: 1.2em
  }

}

@media (max-width: 460px) {

  .article {
    max-width: 100%;
    padding-bottom: 2em
  }

  .article-related > .wrap {
    max-width: 100%;
  }

  .article > p {
    padding: 0 1vw;
    max-width: 100%;
  }

  .article-head {
    margin-bottom: 1.6em;
  }

  .article-head__headline-bottom {
    font-size: 2.75em;
  }

  .article-head > p {
    font-size: 1.1rem;
    padding-top: 0.8em;
  }

  .article-related {
    padding: 1.8em 0;
  }

  .article figure {
    margin: 2.1em 0 2em
  }

  .article figcaption {
    padding-top: 1.1em
  }
}

@media  (max-width: 400px)  {

  .article-head__headline-bottom {
    font-size: 2.3rem;
    padding-top: 0.2em;
    line-height: 1
  }

  .article-head > p {
    font-size: 1rem;
    padding-top: 0.55em
  }

  .article {
    font-size: 0.96em;
    padding-bottom: 1.6em;
  }

  .article > h3,
  .article > h4 {
    margin: 1.9em 0 1.1em;
  }

  .article-related {
    padding: 1.5em 0 1.2em;
  }

  .article-related__header {
    margin-bottom: 1.4em;
  }

}

@media  (max-width: 360px)  {

  .article-head__headline-bottom {
    font-size: 2.15rem
  }
}
