/*BODY*/
/*===========*/

/*@font-face {
	font-family: "adelle";
  src: url("/fonts/adelle-light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
	font-family: "adelle";
  src: url("/fonts/adelle-regular.ttf") format("truetype");
  font-weight: 400
}

@font-face {
	font-family: "adelle";
  src: url("/fonts/adelle-semibold.ttf") format("truetype");
  font-weight: 600
}
*/

body {
	font-size: 22px;
	font-family: 'Noto Serif', georgia, serif;
	text-align: center;
	background: var(--shade1);
	color: var(--body-text);
	scroll-behavior: smooth;
	padding-top: 129px;
}

.site-wrap {
	max-width: 1380px;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	padding: 2.6em 5% 2.2em
}

.site-wrap:first-of-type {
	padding-top: 0
}

.site-wrap--shaded {
	background: var(--shade1);
	max-width: 100%;
}

.inner-wrap {
	max-width: 800px;
	width: 100%;
	margin: 0 auto
}

.type-article {
	background: white;
	padding-top: 108px
}

.type-article > .site-wrap {
	overflow: hidden;
}

@media all and (min-width: 420px){
	.inner-wrap {
		width: 90%
	}
}

@media all and (max-width: 480px){


	body {
		font-size: 20px;
	}

	.type-index {
		padding-top: 87px
	}

	.type-article {
		background: white;
		padding-top: 78px
	}

	.site-wrap {
		padding: 2em 5% 1.8em
	}

}