/* nav */
/*=========*/
.nav {
  direction: ltr;
  position: relative;
}

.nav__trigger {
  padding-top: var(--desktop-nav-height);
  width: 76px;
  display: block;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.nav__trigger:after {
  content: "";
  width: 76px;
  height: 76px;
  background-color: black;
  background: url("/img/u.png");
  background-size: 76px 76px;
  border-radius: 50%;
  display: block;
  border: 0;
  overflow: hidden;
  transition: all 0.2s;
  border-color: var(--primary);
}

.nav__trigger:hover,
.nav__trigger:focus,
.nav__trigger:active {
  filter: brightness(1.2);
}

.nav__trigger > span,
.nav__close > span {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.nav__body {
  margin-top: 1.35em;
  background: black;
  color: white;
  list-style: none;
  text-align: left;
  padding: 1em 2.1em 1em 1em;
  column-count: 3;
  display: none;
  position: relative;
}

html[data-article] .nav__body {
  margin-bottom: 12px;
}

:target + .nav__body {
  display: block
}

.nav__body-link {
  font-weight: 200;
  display: inline-block;
  padding: 0.25em;
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--shade)
}

.nav__body-link:hover {
  opacity: 0.8
}

.nav__close {
  position: absolute;
  width: 38px;
  height: 38px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMS45IDIxLjkiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIj48cGF0aCBkPSJNMTQuMSAxMS4zYy0uMi0uMi0uMi0uNSAwLS43bDcuNS03LjVjLjItLjIuMy0uNS4zLS43cy0uMS0uNS0uMy0uN0wyMC4yLjNjLS4yLS4yLS41LS4zLS43LS4zLS4zIDAtLjUuMS0uNy4zbC03LjUgNy41Yy0uMi4yLS41LjItLjcgMEwzLjEuM0MyLjkuMSAyLjYgMCAyLjQgMHMtLjUuMS0uNy4zTC4zIDEuN2MtLjIuMi0uMy41LS4zLjdzLjEuNS4zLjdsNy41IDcuNWMuMi4yLjIuNSAwIC43TC4zIDE4LjhjLS4yLjItLjMuNS0uMy43cy4xLjUuMy43bDEuNCAxLjRjLjIuMi41LjMuNy4zcy41LS4xLjctLjNsNy41LTcuNWMuMi0uMi41LS4yLjcgMGw3LjUgNy41Yy4yLjIuNS4zLjcuM3MuNS0uMS43LS4zbDEuNC0xLjRjLjItLjIuMy0uNS4zLS43cy0uMS0uNS0uMy0uN2wtNy41LTcuNXoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=) no-repeat;
  background-size: 70%;
  background-position: 50%;
  right: 1.1em;
  top: 1.2em;
}


@media (max-width: 768px) {

  .nav__body {
    column-count: 2
  }

}

@media (max-width: 560px) {
  .nav__body {
    column-count: 1
  }
}


@media (max-width: 460px){

  .nav__trigger {
    padding-top: var(--mobile-nav-height);
    width: 56px;
  }

  .nav__trigger:after {
    width: 56px;
    height: 56px;
    background-size: 56px;
  }

  .nav__body {
    margin-top: 0.9em;
  }

  .nav__body a {
    font-size: 1rem;
    padding: 0.35em 0.25em;
  }
}

@media (max-width: 380px){
  .nav__body {
    margin-top: 1em;
  }
}
