/*NAV*/
/*===========*/
.nav,
.no-js .nav__trigger  {
	position: absolute;
	position: fixed;
	top: 32px;
	width: 70px;
	height: 70px;
	color: var(--body-text-invert);
	text-align: left;
	font-size: 0.9em;
	filter: drop-shadow(0 0 3px rgba(255,255,255,1));
}

.nav__trigger {
	width: 68px;
	height: 68px;
	background: var(--color-primary);
	border-radius: 50%;
	display: block;
	background: url(https://d6jf304m27oxw.cloudfront.net/u-tile.png);
	background-size: 100%;
}

.nav__trigger[aria-expanded="true"],
.nav__trigger:active {
	filter: brightness(1.15)
}

.no-js .nav,
.no-js .nav__body {
	position: static;
	width: auto;
	display: block;
	height: auto;
	opacity: 1;
	visibility: visible;
}

.no-js .nav__body:before {
	display: none;
}

@media all and (hover:hover){

	.nav__trigger:hover,
	.nav__trigger:focus {
		filter: brightness(1.15)
	}

}

.nav__trigger > img {
	width: inherit;
	height: inherit;
	border-radius: 50%
}

.nav__body {
	position: relative;
	width: 242px;
	opacity: 0;
	visibility: hidden;
	left: -800px;
	padding-top: 19px;
}

.nav__body[aria-hidden="false"]{
	opacity: 1;
	visibility: visible;
	left: -8px;
}

.nav__body:before {
	content: "";
	width: 16px;
	height: 16px;
	background: inherit;
	position: absolute;
	top: 11px;
	left: 33px;
  transform: rotate(45deg);
  background: var(--color-primary);
}

.nav__body-inner {
	padding: 1.3em 1.3em 1.5em;
	position: relative;
	background: var(--color-primary);
}

.js .nav__body,
.js .nav__body-inner {
	max-height: 550px;
	max-height: calc(100vh - 136px);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

@supports(-webkit-overflow-scrolling: touch){
	.js .nav__body-inner:after {
		content: "";
		position: absolute;
		top: 0;
		right: 8px;
		width: 4px;
		height: 106%;
		visibility: hidden;
	}
}


.nav__group:first-of-type {
	padding-bottom: 1.1em;
}

.nav__link {
	display: block;
	padding: 0.32em 0;
}

.nav__link:hover {
	color: white;
}

.nav__header {
	font-family: sans-serif;
	color: var(--color-secondary);
	font-weight: 600;
	font-size: 0.8em;
	margin-bottom: 0.3em;
}

@media all and (max-width: 480px){

	.nav,
	.no-js .nav__trigger {
		top: 20px;
		width: 50px;
		height: 50px;
	}

	.nav__trigger,
	.no-js .nav__trigger {
		width: 50px;
		height: 50px;
	}

	.nav__body:before {
		left: 26px;
		width: 14px;
		height: 14px;
		top: 13px
	}

	.js .nav__body,
	.js .nav__body-inner {
		max-height: 420px;
		max-height: calc(100vh - 136px);
	}

}
