/*reset*/
/*=========*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  fill: inherit;
}

html {
  font-size: 22px;
  font-family: 'Noto Serif', georgia, serif;
  background: var(--shade);
  color: var(--text-dark);
  -webkit-text-size-adjust: none;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

.wbr {
  white-space: nowrap;
}

@media (max-width: 380px){

  html {
    font-size: 20px;
  }

}
