/*SCORE*/
/*===============*/

.score {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--body-text-tertiary);
	vertical-align: middle;
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-weight: 200;
	font-size: 12px;
	line-height: 30px;
	transform: scale(1.7);
	transform-origin: 0 50%;
	margin-right: 24px;
}

a.score:hover,
a.score:active {
	background: var(--body-text-secondary)
}

.score:empty {
	display: none;
}

@media all and (max-width: 380px){
	.score {
		margin-right: 19px;
		transform: scale(1.5)
	}
}