/*social*/
/*========*/

.social {
  margin: 1.72em 0 2.38em;
}

.social-button {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 9px 50%;
  color: var(--text-mid);
  text-align: center;
  font-size: 1.2em;
  padding: 0 11px 0 26px;
  height: 44px;
  line-height: 42px;
  vertical-align: top;
  letter-spacing: -2px;
}

.social-button,
amp-social-share {
  margin: 0 2px;
}

.social-button--score {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MjUuMTUzIDUyNS4xNTMiPjxwYXRoIGQ9Ik0xOTYuOTMyIDUyNS4xNTNIMzI4LjIyVjBIMTk2LjkzMnY1MjUuMTUzek0wIDUyNS4xNTNoMTMxLjI4OFYyNjIuNTc2SDB2MjYyLjU3N3pNMzkzLjg2NCAxNjQuMTF2MzYxLjA0MmgxMzEuMjg4VjE2NC4xMUgzOTMuODY0eiIgc3R5bGU9ImZpbGw6Izg4OCIvPjwvc3ZnPgo=);
  background-color: var(--shade-mid);
}

.social-button--score:after {
  content: attr(data-score)
}

.social-button--comment {
  width: 60px;
  background-position: 50% 10px;
  background-size: 27px;
  background-color: #bd081c;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgMjcuNzUgMjcuNzUiPjxwYXRoIGQ9Ik0xMy44NzUgMjcuNzVsLTQuMjY4LTcuMzkzSDQuMjczYy0yLjE5NSAwLTMuOTgtMS42MTgtMy45OC0zLjYxVjMuNjFDLjI5MyAxLjYyIDIuMDggMCA0LjI3MyAwaDE5LjIwNGMyLjE5NCAwIDMuOTggMS42MiAzLjk4IDMuNjF2MTMuMTM4YzAgMS45OS0xLjc4NiAzLjYxLTMuOTggMy42MWgtNS4zMzRsLTQuMjY4IDcuMzkyek00LjI3MyAyYy0xLjA5IDAtMS45OC43MjItMS45OCAxLjYxdjEzLjEzOGMwIC44ODguODkgMS42MSAxLjk4IDEuNjFoNi40ODZsMy4xMTIgNS4zOTIgMy4xMTItNS4zOTNoNi40OWMxLjA5MiAwIDEuOTgtLjcyMiAxLjk4LTEuNjFWMy42MWMwLS44ODgtLjg5LTEuNjEtMS45OC0xLjYxaC0xOS4yeiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPgo=);
}

@media all and (max-width: 660px){
  .social {
    margin: 1.4em 0 2em;
  }
}

@media (max-width: 400px) {

  .social {
    margin: 0.86em -1.2em 1.1em;
    transform: scale(0.8);
    white-space: nowrap;
    transform-origin: center;
  }

  .social-button,
  amp-social-share {
    margin: 0 1px;
  }
}
