/*tile*/
/*========*/

.tile {
  width: calc(25% - 24px);
  margin: 0 0 24px 24px;
  position: relative;
  font-size: 1.82vw;
}

.tile__link {
  display: block;
}

.tile__link:hover .tile__body,
.tile__link:active .tile__body,
.tile__link:focus .tile__body,
:target .tile__body {
  background: black;
  color: var(--shade);
}

.tile__body {
  background: white;
  color: var(--text-dark);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 0.75em 0 0.7em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.tile__figure {
  position: relative;
}

.tile__figure > amp-image {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
}

.tile__figure > amp-image > i-amp-sizer {
  padding-top: 125%;
}

.tile__header {
  font-size: 15px;
  line-height: 1.17;
  font-family: sans-serif;
  font-weight: 600;
  color: var(--text-highlight);
  white-space: nowrap;
  display: block;
}

.tile__sub-header {
  line-height: 1.4;
  font-size: 1em;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: -1px;
  display: block;
  color: inherit;
}

.tile__rating {
  height: 27px;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MjUuMTUzIDUyNS4xNTMiPjxwYXRoIGQ9Ik0xOTYuOTMyIDUyNS4xNTNIMzI4LjIyVjBIMTk2LjkzMnY1MjUuMTUzek0wIDUyNS4xNTNoMTMxLjI4OFYyNjIuNTc2SDB2MjYyLjU3N3pNMzkzLjg2NCAxNjQuMTF2MzYxLjA0MmgxMzEuMjg4VjE2NC4xMUgzOTMuODY0eiIgc3R5bGU9ImZpbGw6d2hpdGUiLz48L3N2Zz4K);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 6px 50%;
  padding: 0 6px 0 18px;
  background-color: rgba(0,0,0,.2);
  color: #fff;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 1em;
  left: 1em;
  font-size: 17px;
  line-height: 26px;
  visibility: hidden;
}

.tile__rating:after {
  content: attr(data-rating)
}

.tile__rating--visible {
  visibility: visible;
}

@media (pointer: fine){
  .tile__link:hover .tile__rating {
    visibility: visible;
  }
}

@media (max-width: 940px) {

  .tile {
    width: calc(33.3% - 24px);
    font-size: 2.68vw;
  }

}

@media (max-width: 767px) {

  .tile {
    width: calc(50% - 24px);
    font-size: 4vw;
  }

}

@media (max-width: 460px) {

  .tile {
    display: block;
    width: 100%;
    font-size: 8.4vw;
  }

}
