/*VARS*/
/*===========*/

:root {
	--color-primary: #111;
	--color-secondary: #D50008;
	--stroke: #bbb;
	--stroke-secondary: #888;
	--shade1: #eee;
	--body-text: #222;
	--body-text-invert: #ddd;
	--body-text-secondary: #666;
	--body-text-tertiary: #B0B0B0;
	--icon-primary: #888
}

.transition {
	transition: opacity 0.2s, color 0.2s, fill 0.2s, transform 0.2s, filter 0.2s;
	will-change: all;
}