/* Site vars */
/* ========== */

:root {
	--text-dark: #222;
	--text-mid: #888;
	--text-light: #9e9d9d;
	--keyline: #ddd;
	--shade: #eee;
	--shade-mid: #ddd;
  --text-highlight: #d50008;
	--primary: #d60008;
	--youtube: #e52d27;
	--article-head-offset: -12px;
	--article-head-offset-mobile: -7px;
}
